body {
  background-color: beige;
  font-family: sans-serif;
  border-top: 10px solid #000000;
  border-bottom: 10px solid #000000;
  border-left: 10px  solid #000000;
  border-right: 10px solid #000000;
}

h1 {
  font-size: 10px;
  text-transform: uppercase;
  font-style:italic;
}

p {
  font-size: 15px;
  color: #3c3d77;
  text-transform: uppercase;
}

#Copyright{
  color:black;
  text-align: center;
}

.Title {
  text-align: center;
  font-size: 35px;
}